<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MA PAGE DJANGO</title>
</head>

<body>

    <h1>Hello django.</h1>
    <p>Mes groupes préférés sont :
    <p>
    <ul>
        <li>{{first_band.name}} le titre est : {{first_title.name}}</li>
        <li>{{bands.name}} le titre est : {{titres.titre}}</li>
        <li>{{bands.name}} le titre est : {{titres.titre}}</li>
    </ul>

</body>

</html>