<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MA PAGE DJANGO</title>
</head>

<body>

    <h1>Hello django.</h1>
    <p>Mes groupes préférés sont :
    </p>
    <!-- <ul>
        <li>Le groupe est : <br> <strong>{{first_band.name}}</strong> et l'un de leur titre est :
            <em>{{first_title.titre}}</em></li>
        <li>{{bands.name}} le titre est : {{titres.titre}}</li>
        <li>{{bands.name}} le titre est : {{titres.titre}}</li>
    </ul> -->
    {% for band in bands %}
    <ul>
        <li>Le groupe est : <br> <strong>{{band.name|length}}</strong> et l'un de leur titre est :
            <em>{{band.titre}}</em></li>
    </ul>
    {% endfor %}
    <ul>
        <li>{{bands.0.name}}</li>
    </ul>

    {% if band.name %}

</body>

</html>